<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExcelToIcs</title>
</head>
<body style="width: 50%;">
    <h1>Excel To Ics</h1>
    <form action="{{ url_for('convert') }}" method="post" enctype='multipart/form-data'>
        <input type=file name=file><br><br>
        <input type=submit value=Konwertuj>
    </form>
    {% for msg in get_flashed_messages() %}
    <br/><b>{{ msg }}</b>
    {% endfor %}

    <h2>Info</h2>
    <p>
        Strona jest we wstępnej fazie rozwoju i pozwala na konwersję plików Excel 
        <b>tylko</b> o poniższej strukturze. Pliki z inaczej rozmieszczonymi kolumnami 
        mogą powodować błędy i niepoprawną konwersję. Kolumny <b>Miejsce</b> i <b>Odpowiedzialny</b> 
        mogą zostać pominięte. Wydarzenia, do których nie zostanie podana data lub nazwa zostają pominięte.
        <br><br>
        Pobrany plik ICS można zaimportować do kalendarza Google, Microsoft itp.
    </p>
    <img src="example_excel.bmp" alt="Example Excel file">
</body>
</html>
